
# Ignore Python cached files

__pycache__/

.pytest_cache/
.Rproj.user

# Ignore virtual environments
venv39/
venv311/

# Ignore build artifacts
dist/
build/
*.egg-info/

# Ignore temporary files in test data
tests/**/*.tmp

# Ignore data files in production repro area
causaliq_repro/zenodo/**/*.csv.gz

# Ignore sandbox_status.json in production repro area
causaliq_repro/zenodo/**/sandbox_status.json

# But do NOT ignore sandbox_status.json for functional tests
!tests/causaliq_repro/data/functional/**/sandbox_status.json
# but ignore in them for integration test as tests themselves will create them
tests/causaliq_repro/data/integration/**/sandbox_status.json
